/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #333;
}
section { color: rgb(2, 21, 26);
}

header {
    background-color: #57b5eb;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.logo {
    color: #161414;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
}
p.yo{color: #52a7b3;

text-decoration: double;
}

.menu {
    margin-left: auto;
}

div.carousel-item{
    margin-left: 2%;
    margin-right: 2%;


}

div.hey{
    margin-left: 2%;
    margin-right: 2%;
}

.main {
    padding: 20px;
}

/* Banner Section */

.banner {
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px 0;
}

.banner h1 {
    margin: 0;
}

.banner p {
    margin: 20px 0;
}

h6.y2{ color: #13bbee;
    text-align: center;
    ;
}

.banner .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}
p.zero{text-align:center;
color: #29d38c;}

/* Room-Specific Decor Ideas Section */

.room-ideas {
    padding: 20px;
    text-align: center;
}

/* Curated Collections Section */

.collections {
    padding: 20px;
    text-align: center;
}

/* Featured Products Section */

.featured {
    padding: 20px;
    background-color: #fff;
}

.featured h2 {
    text-align: center;
    margin-bottom: 20px;
}

div.hero{
    background-color: #333;
    margin-left: 2%;
    
}

.bro{
    color: #b7eb57;
    
}

section.featured{
    background-color: #333;
    margin-left: 2%;
    margin-right: 2%;
}

/* Footer Section */

footer {
    background-color: #333;
    color: #161414;
    padding: 20px 0;
    text-align: center;
}
a.hwai{
    color: #1ac5db;
    text-align: justify;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

.end{
    color: #13bbee;
}

h3{
    color: #b7eb57;
}
/* Responsive Styles */

@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }
}
